<h1>退会確認画面</h1>

<%= form_with model: @user, url: users_out_path, method: :patch do |f| %>
  <%= f.hidden_field :user_status, :value => "true" %>
  <%= f.submit '退会する' %>
<% end %>

<%= link_to '戻る', users_my_page_path %>